/* colors
purpley #5c415d
lighter purp #604f61
ivory #f6f7eb
cinnabar #e94f37
onyx #393e41 */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
img {
  max-width:100%;
}

blockquote {
  padding-left: 5px;
  border-left: 3px solid #393e41;
  background-color: #c3c1c3;
}

#preview-container {
  padding-top: 10px;
  
}
#preview-title {
  padding: 0px;
  margin: 0px;
  background-color: #604f61;
  color: #f6f7eb;
}

#preview {
  background-color: #f6f7eb ;
  text-align: left;
  padding: 0px;
  margin: 0px;
}
pre {
  background-color: #604f61;
  margin: 2%;
}

.card {
  padding: 2em;
}

code {
  background-color: #604f61;
  color: #f6f7eb;
}


table, td, th {
  border-color: white;
  border: 1px solid;
}

.read-the-docs {
  color: #888;
}

#editor{
  width: 50vw;
  min-height: 20vh;
}

#preview{
  margin-top: 5vh;
  min-width: 40vw;
  min-height: 20vh;
  max-width: 50vw;
}

.img{
  max-width: 50vw;
}