/* colors
purpley #5c415d
lighter purp #604f61
ivory #f6f7eb
cinnabar #e94f37
onyx #393e41 */

#root {
  max-width: 1280px;
  margin-left:auto;
  margin-right: auto;
}

.title {
  padding-left: 10px;
  background-color: #f6f7eb;
  border: 2px solid;
  border-color: #393e41;
  color: #393e41;
  font-size: 20px;
  font-weight: bold;
}


#preview-container {
  margin-top: 35px;
  max-width: 1280px;
  
}

#editor-container {
  margin-top: 50px;
  max-width: 1280px;
}

#preview {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px;
  background-color: #f6f7eb ;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
}

#editor{
  width: 1270px;
  min-height: 20vh;
}

/* #preview{
  margin-top: 5vh;
  min-width: 40vw;
  min-height: 20vh;
  max-width: 50vw;
} */



/* styling for markdown */

img {
  max-width:100%;
}

blockquote {
  padding-left: 5px;
  border-left: 3px solid #393e41;
  background-color: #c3c1c3;
}


pre {
  background-color: #604f61;
  margin: 2%;
}

code {
  background-color: #604f61;
  color: #f6f7eb;
}


table, td, th {
  border-color: white;
  border: 1px solid;
}


.img{
  max-width: 50vw;
}